In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('F:/Pallavi/CodeSpyder/Data Sets/Titanic train.csv')
df_test = pd.read_csv('F:/Pallavi/CodeSpyder/Data Sets/Titanic test.csv')

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df_test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
col_num = list(df_train.select_dtypes(exclude='object').columns)

In [10]:
col_num.remove('PassengerId')
col_num.remove('Survived')

In [11]:
col_num

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [12]:
col_cat = list(df_train.select_dtypes(include='object').columns)

In [13]:
col_cat.remove('Name')
col_cat.remove('Cabin')
col_cat.remove('Ticket')

In [14]:
col_cat

['Sex', 'Embarked']

## Imputation / Filling Missing Data

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
#For numeric data
imputer_num = SimpleImputer(strategy='median')

imputer_num.fit(df_train[col_num])

df_train[col_num] = imputer_num.transform(df_train[col_num])
df_test[col_num] = imputer_num.transform(df_test[col_num])

In [17]:
#For catgorical data
imputer_cat = SimpleImputer(strategy='most_frequent')

imputer_cat.fit(df_train[col_cat])

df_train[col_cat] = imputer_cat.transform(df_train[col_cat])
df_test[col_cat] = imputer_cat.transform(df_test[col_cat])

In [18]:
#binning
# import seaborn as sb

In [19]:
# sb.histplot(data=df_train,x='Age',hue='Survived',bins=10,kde=True)
# sb.histplot(data=df_train,x='Fare',hue='Survived',bins=15,kde=True)

In [20]:
#new columns
df_train['isCabin'] = (~df_train['Cabin'].isna()).astype(int)
df_test['isCabin'] = (~df_test['Cabin'].isna()).astype(int)

df_train['Title'] = df_train['Name'].apply(lambda name:name.split(',')[1].split('.')[0].strip())
df_test['Title'] = df_test['Name'].apply(lambda name:name.split(',')[1].split('.')[0].strip())

df_train['Selected_Titles'] = df_train['Title'].apply(lambda title: title if title in ['Mr','Miss','Mrs','Master','Dr','Rev'] else 'other')
df_test['Selected_Titles'] = df_test['Title'].apply(lambda title: title if title in ['Mr','Miss','Mrs','Master','Dr','Rev'] else 'other')

df_train['Selected_Titles'] = df_train['Title'].apply(lambda title: title if title in ['Mr','Miss','Mrs'] else 'other')
df_test['Selected_Titles'] = df_test['Title'].apply(lambda title: title if title in ['Mr','Miss','Mrs'] else 'other')

In [21]:
col_num.append('isCabin')
col_cat.append('Selected_Titles')

## Encoding

In [22]:
# from sklearn.preprocessing import OneHotEncoder

In [23]:
# ohe = OneHotEncoder(handle_unknown='ignore',drop='first')
# ohe.fit(df_train[col_cat])

In [24]:
# train_temp = pd.DataFrame(data=ohe.transform(df_train[col_cat]).toarray(), columns=ohe.get_feature_names())
# test_temp = pd.DataFrame(data=ohe.transform(df_test[col_cat]).toarray(), columns=ohe.get_feature_names())

In [25]:
# col_final = col_num + list(ohe.get_feature_names())
# col_final

In [26]:
# df_train = pd.concat([df_train, train_temp], axis=1)
# df_test = pd.concat([df_test, test_temp], axis=1)

In [27]:
df_test["Sex"]=df_test["Sex"].map({"male":0,"female":1})
df_train["Sex"]=df_train["Sex"].map({"male":0,"female":1})

In [28]:
df_train['Selected_Titles']=df_train['Selected_Titles'].map({'Mrs':6,'Miss':5,'Master':4,'Dr':3,'other':2,'Mr':1,'Rev':0})
df_test['Selected_Titles']=df_test['Selected_Titles'].map({'Mrs':6,'Miss':5,'Master':4,'Dr':3,'other':2,'Mr':1,'Rev':0})

In [29]:
df_train['Embarked']=df_train['Embarked'].map({'S':0,'C':1,'Q':2})
df_test.Embarked=df_test.Embarked.map({'S':0,'C':1,'Q':2})

In [30]:
col_num.append('Sex')
col_num.append('Selected_Titles')
col_num.append('Embarked')

In [31]:
col_final = col_num

In [32]:
df_train['Selected_Titles'].value_counts()

1    517
5    182
6    125
2     67
Name: Selected_Titles, dtype: int64

In [33]:
df_train.Embarked.value_counts()

0    646
1    168
2     77
Name: Embarked, dtype: int64

In [34]:
df_train[col_final].head()

,Pclass,Age,SibSp,Parch,Fare,isCabin,Sex,Selected_Titles,Embarked
0,3.0,22.0,1.0,0.0,7.2500,0,0,1,0
1,1.0,38.0,1.0,0.0,71.2833,1,1,6,1
2,3.0,26.0,0.0,0.0,7.9250,0,1,5,0
3,1.0,35.0,1.0,0.0,53.1000,1,1,6,0
4,3.0,35.0,0.0,0.0,8.0500,0,0,1,0

## Scaling

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
scaler = StandardScaler()

scaler.fit(df_train[col_num])

df_train[col_num] = scaler.transform(df_train[col_num])
df_test[col_num] = scaler.transform(df_test[col_num])

## Corelation / Feature selection

In [37]:
df_train.corr()['Survived']

C:\Users\shree\AppData\Local\Temp\ipykernel_14748\1253141298.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_train.corr()['Survived']

PassengerId       -0.005007
Survived           1.000000
Pclass            -0.338481
Sex                0.543351
Age               -0.064910
SibSp             -0.035322
Parch              0.081629
Fare               0.257307
Embarked           0.106811
isCabin            0.316912
Selected_Titles    0.547929
Name: Survived, dtype: float64

## Model Building

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [39]:
dict1 = {'n_estimators':[25,50,75,100,125], 
         'max_depth':[2,3,4,5],
         'min_samples_leaf':[2,3,4,5,6]}

In [40]:
# grid_cv = GridSearchCV(RandomForestClassifier(),param_grid=dict1,cv=5,n_jobs=6,verbose=1)
# grid_cv.fit(df_train[col_final],df_train['Survived'])

In [41]:
# grid_cv.best_params_

In [42]:
col_final

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'isCabin',
 'Sex',
 'Selected_Titles',
 'Embarked']

In [43]:
model = RandomForestClassifier(n_estimators=100,max_depth=5,min_samples_leaf=3)
model.fit(df_train[col_final],df_train['Survived'])

RandomForestClassifier(max_depth=5, min_samples_leaf=3)

In [44]:
yp = model.predict(df_test[col_final])

In [45]:
len(yp)

418

In [46]:
df_submission = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yp})

In [ ]:
df_submission.to_csv('submission.csv',index=False)

In [ ]:
import pickle

In [ ]:
pickle.dump(model,open('titanic.pkl','wb'))

In [ ]:
load_model = pickle.load(open('titanic.pkl','rb'))